@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import-normalize;
@tailwind base;
@tailwind components;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .main-container {
    @apply w-full my-0 mx-auto;
    @apply flex flex-col;
  }
}
