@import-normalize;
@tailwind base;
@tailwind components;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Full width and automatic height main container */
@layer components {
  .main-container {
    @apply w-full my-0 mx-auto;
    @apply flex flex-col;
  }
}
