<div [ngClass]="['projects-container', applyTheme()]">
  <!-- Loop through all projects and display -->
  <ng-container *ngFor="let project of projects">
    <mat-card>
      <!-- Name with short description here -->
      <mat-card-header>
        <mat-card-title>{{ project.name }}</mat-card-title>
        <mat-card-subtitle>{{ project.description }}</mat-card-subtitle>
      </mat-card-header>
      <!-- Image in main content -->
      <mat-card-content>
        <img [src]="project.image_link" ngClass="project-image" width="350" />
      </mat-card-content>
      <!-- GitHub code and demo link -->
      <mat-card-actions>
        <button mat-fab [color]="applyTheme() === 'dark' ? 'basic' : 'primary'">
          <img
            [src]="
              applyTheme() === 'light'
                ? '../../assets/github_dark.png'
                : '../../assets/github_light.png'
            "
            ngClass="link-button-logo"
          />
        </button>

        <button mat-fab [color]="applyTheme() === 'dark' ? 'basic' : 'primary'">
          <img
            [src]="
              applyTheme() === 'dark'
                ? '../../assets/demo-logo-dark.png'
                : '../../assets/demo-logo-light.png'
            "
            ngClass="link-button-logo"
          />
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
