<!-- Setting class to dark like this changes the whole schema -->
<div [ngClass]='["projects-container", theme]'>
  <ng-container *ngFor="let project of projects">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ project.name }}</mat-card-title>
        <mat-card-subtitle>{{ project.description }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img [src]="project.image_link">
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">LIKE</button>
        <button mat-raised-button color="accent">SHARE</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
