<!-- Top-bar represented by material toolbar  -->
<!-- Don't ask me why this has to be in-line. Doesn't work otherwise... -->
<div [ngClass]="[applyTheme(), 'topbar-container', 'dark:bg-gray-900']">
  <!-- Profile and name -->
  <div ngClass="profile-picture">
    <img
      src="/assets/profile.jpg"
      alt="Profile Picture"
      ngClass="rounded-full"
    />
  </div>
  <div ngClass="name">Aron Teh</div>

  <div ngClass="divider"></div>

  <!-- Links for GitHub, LinkedIn and Resume -->
  <a
    href="https://github.com/ellipsoul"
    target="_blank"
    matTooltip="GitHub Profile"
    matTooltipPosition="below"
  >
    <button mat-fab color="grayscale" ngClass="link-buttons">
      <img
        [src]="
          applyTheme() === 'light'
            ? '/assets/logos/github_dark.png'
            : '/assets/logos/github_light.png'
        "
        ngClass="github-icon"
      />
    </button>
  </a>

  <a
    href="https://www.linkedin.com/in/aronteh/"
    target="_blank"
    matTooltip="LinkedIn Profile"
    matTooltipPosition="below"
  >
    <button mat-fab color="grayscale" ngClass="link-buttons">
      <img
        [src]="
          applyTheme() === 'dark'
            ? '/assets/logos/linkedin_normal.png'
            : '/assets/logos/linkedin_white.png'
        "
        ngClass="linkedin-icon"
      />
    </button>
  </a>

  <a
    href="/assets/Aron_Teh_Resume.pdf"
    target="_blank"
    matTooltip="Resume"
    matTooltipPosition="below"
  >
    <button mat-fab color="grayscale" ngClass="link-buttons">
      <mat-icon color="grayscale" ngClass="resume-icon">description</mat-icon>
    </button>
  </a>

  <div ngClass="divider-2"></div>
  <div ngClass="divider-2"></div>

  <!-- Theme toggler -->
  <button
    mat-fab
    color="grayscale"
    (mousedown)="toggleTheme()"
    matTooltip="Toggle Theme"
    matTooltipPosition="below"
  >
    <mat-icon color="grayscale">{{
      applyTheme() === 'light' ? 'light_mode' : 'dark_mode'
    }}</mat-icon>
  </button>
</div>
